.mat-card {
    max-width: 300px;
    margin: auto;
}

.mat-card-avatar {
    background-image: url('../../../assets/img/arrow.png');
    background-size: cover;
}

.card-card-actions {
    display: flex;
}

.card-card-actions, .flex-spacer {
    width: 100%;
}

