<mat-card>
    <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Ayman Ibrahim</mat-card-title>
        <mat-card-subtitle><a href="https://twitter.com/ayman_abdelAlim">Twitter Account</a></mat-card-subtitle>
    </mat-card-header>
    <img mat-card-img src="../../../assets/img/arrow.png" width="300" height="400">    
    <mat-card-content>
        <p>iOS & Angular Developer</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color='primary'>LIKE</button>
        <button mat-button color='primary'>Do nothing</button>
        <div class='flex-spacer'></div>
        <button mat-button><mat-icon>publish</mat-icon></button>
    </mat-card-actions>

</mat-card>
